body {
    background-color: #979292;
    font-family: Arial;
}

.contenedor {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: aliceblue
}
h1{
    text-align:center;
}
